*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
.DS_Store
3rdparty/genie/bin/
3rdparty/genie/build/gmake.linux/obj/
build/
src/devices/cpu/m68000/m68kmake
src/devices/cpu/m68000/m68kmake.o
src/devices/cpu/m68000/m68kops.cpp
src/devices/cpu/m68000/m68kops.h
mame64.exe
a7800.exe
mame.exe
cfg/
history/
ui.ini
src/devices/cpu/m68000/m68kmake.exe
mame
mame_arm64
mame_x64
*.a
scripts/mame_mame/
scripts/src/osd/mame_mame/
